<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Fake Matrimony Profile Detection</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename = 'lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet">
</head>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <div class="container-fluid sticky-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a href="{{url_for('home')}}" class="navbar-brand">
                    <h1 class="text-white"><span class="text-dark">.</span>Profile Verifier</h1>
                </a>
                <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto">
                        <a href="" class="nav-item nav-link active">View this is mobile : <b>{{url}}</b></a>
                        <a href="" class="nav-item nav-link">User: {{data}}</a>
                    </div>
                    <butaton type="button" class="btn text-white p-0 d-none d-lg-block" data-bs-toggle="modal"
                        data-bs-target="#searchModal"><i class="fa fa-search"></i></butaton>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Hero Start -->
    <div class="container-fluid pt-5 bg-primary hero-header mb-5">
        <div class="container pt-5">
            <div class="row g-5 pt-5">
                <div class="col-lg-6 align-self-center text-center text-lg-start mb-lg-5">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3 animated slideInRight">Profile Verifier</div>
                    <h1 class="display-4 text-white mb-4 animated slideInRight">Prediction of Fake Profile in Matrimonial Sites</h1>
                    <p class="text-white mb-4 animated slideInRight">Use the Machine learning applications to predict fake profiles in matrimonial sites to stay away from scams to brighten your future with perfect partner</p>
                    <a href="#train" class="btn btn-light py-sm-3 px-sm-5 rounded-pill me-3 animated slideInRight">Predict Now</a>
                </div>
                <div class="col-lg-6 align-self-end text-center text-lg-end">
                    <img class="img-fluid" src="{{ url_for('static', filename = 'img/hero1.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->


    <!-- Full Screen Search Start -->
    <div class="modal fade" id="searchModal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content" style="background: rgba(20, 24, 62, 0.7);">
                <div class="modal-header border-0">
                    <button type="button" class="btn btn-square bg-white btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body d-flex align-items-center justify-content-center">
                    <div class="input-group" style="max-width: 600px;">
                        <input type="text" class="form-control bg-transparent border-light p-3"
                            placeholder="Type search keyword">
                        <button class="btn btn-light px-4"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Full Screen Search End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="{{ url_for('static', filename = 'img/hero.jpg')}}">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-primary px-3 mb-3">user</div>
                    <h1 class="mb-4">Deep learning to predict Fake Profile</h1>
                    <p class="mb-4">Deep learning is a subfield of machine learning that uses artificial neural networks to process and learn from vast amounts of data, enabling complex pattern recognition and decision-making.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    


    <!-- Feature Start -->
    <div class="container-fluid bg-primary feature pt-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Deep Learning</div>
                    <h1 class="text-white mb-4">Intensive RF algorithm</h1>
                    <p class="text-light mb-4">Random Forest (RF) is a machine learning algorithm that combines multiple decision trees to make predictions. It creates a diverse ensemble by training each tree on different subsets of the data and features. RF aggregates the predictions from individual trees to produce a final prediction, offering robustness and improved accuracy.</p>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span>Extensive Random Forest algortihm</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span>Super rich Dataset</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span>High accuracy</span>
                    </div>
                    <div class="row g-4 pt-3">
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-file-excel fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">8500</h2>
                                    <p class="text-white mb-0">Rows of Data</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-check fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">16</h2>
                                    <p class="text-white mb-0">Random Forest Classifiers</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-end text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <img class="img-fluid" src="{{ url_for('static', filename = 'img/feature.png')}}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->
    <section id="train">
        <div class="container-fluid py-5">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="display-6 mb-4">Random Forest Classifier</h1>
                            <p>To use the Random Forest (RF) algorithm, begin by preparing your dataset, ensuring it contains both the features and the corresponding target variable. Next, split the data into separate training and testing sets. Then, initialize an RF model, specifying the desired number of trees to be included in the ensemble. Proceed by training the RF model using the training data. Once trained, you can utilize the model to make predictions on the testing data. Finally, evaluate the performance of the RF model by comparing its predictions to the actual values in the testing set, using appropriate evaluation metrics such as accuracy for classification tasks or mean squared error for regression task.</p>
                    </div>
                    </div>
                    <br><br>
                        <h1 class="mb-4 wow fadeInUp">Start Prediction Now</h1>
                        <form action="{{url_for('predict')}}" method='post'>
                            <div class="row g-5">

                            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <select class="form-control" id="caste1" name="caste1" required>
                                <option value="" disabled selected>Select Caste</option>
                                {% for i in range(0,469) %}
                                <option value="{{castes[i]}}">{{castes[i]}}</option>
                                {% endfor %}
                              </select>
                            </div>
                            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">

                            <select class="form-control" id="degree" name="degree" required>
                                <option value="" disabled selected>Select Degree</option>
                                {% for i in range(0,70) %}
                                <option value="{{degrees[i]}}">{{degrees[i]}}</option>
                                {% endfor %}
                              </select></div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <select class="form-control" id="employed1" name="employed1" required>
                                <option value="" disabled selected>Select Employment Sector</option>
                                {% for i in range(0,7) %}
                                <option value="{{employs[i]}}">{{employs[i]}}</option>
                                {% endfor %}
                              </select></div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">

                            <select class="form-control" id="income1" name="income1" required>
                                <option value="" disabled selected>Select Income</option>
                                {% for i in range(0,28) %}
                                <option value="{{incomes[i]}}">{{incomes[i]}}</option>
                                {% endfor %}
                              </select></div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <select class="form-control" id="mother1" name="mother1" required>
                                <option value="" disabled selected>Select Mother Tongue</option>
                                {% for i in range(0,57) %}
                                <option value="{{mothers[i]}}">{{mothers[i]}}</option>
                                {% endfor %}
                              </select></div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <select class="form-control" id="occupation" name="occupation" required>
                                <option value="" disabled selected>Select Occupation</option>
                                {% for i in range(0,45) %}
                                <option value="{{occs[i]}}">{{occs[i]}}</option>
                                {% endfor %}
                              </select></div>
                              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                            <select class="form-control" id="religion1" name="religion1" required>
                                <option value="" disabled selected>Select Religion</option>
                                {% for i in range(0,6) %}
                                <option value="{{religions[i]}}">{{religions[i]}}</option>
                                {% endfor %}
                              </select>
                            </div>
                        <br><br>
                            <button class="btn btn-primary w-100 py-3" type="submit">Predict Now</button>

                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appoinment Start -->
    </section>

    

   


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top pt-2"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js')}}"></script>
    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

    <!-- Template Javascript -->
</body>

</html>